.counter:not([ng-reflect-title="0"]):after {
  position: absolute;
  content: attr(ng-reflect-title);
  margin-left: -5.8775px;
  margin-top: -2.8775px;
  padding: 0 2px;
  min-width: 13.755px;
  height: 13.755px;
  line-height: 13.755px;
  background: #e52325;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 10.004px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.counter[ng-reflect-title="0"] {
  margin-right: 0;
}
