.w1{
  background-color: blue;
  color: white;
}
.w2{
  background-color: black;
  color: white;
}

.graph{
  display: block;
  height: 500px;
  width: 800px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  // transition: all 250ms linear;
  overflow: hidden;
}
