<ng-sidebar-container>
  <!-- A sidebar -->
  <ng-sidebar [(opened)]="sidebarOpened" [mode]="'push'" [dock]="true" [dockedSize]="'60px'" [closeOnClickOutside]="true"
              [sidebarClass]="'main-sidebar'">
    <div class="btn-group-vertical">
      <button class="btn btn-warning" (click)="addTab()">
        <fa-icon [icon]="['fas', 'plus']" [fixedWidth]="false"></fa-icon>
      </button>
      <button class="btn btn-warning" (click)="toggleSidebar()">
        <fa-icon [icon]="['fas', 'bars']" [fixedWidth]="false"></fa-icon>
      </button>
    </div>

  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <app-tab-manager></app-tab-manager>
  </div>
</ng-sidebar-container>
