<div class="main-container">
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8 login-cover d-flex flex-row align-items-center">
      <div class="cover-container">
        <h1 class="display-3">Scaffolar 3</h1>
        <p class="lead">The Angular scaffolding tool for single page websites.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 login-form d-flex flex-row align-items-center">
      <div class="form-container">
        <p class="lead text-left">Please enter your username and password to login.</p>
        <form class="form-signin ">
          <div class="input-group input-group-lg mb-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="username"><fa-icon [icon]="['fa', 'user']" [fixedWidth]="true"></fa-icon></span>
            </div>
            <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username" required autofocus />
          </div>
          <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="password"> <fa-icon [icon]="['fa', 'key']" [fixedWidth]="true"></fa-icon> </span>
            </div>
            <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="Password" required />
          </div>
          <button class="btn btn-lg btn-primary btn-block btn-signin mb-3" type="submit">Sign in</button>
        </form>
        <a href="#" class="forgot-password ">Forgot the password?</a>
        <div class="update small text-muted mt-2">Last update: {{ appSettings.date() | date: 'dd/MMM/yyyy' }} ({{ appSettings.version }})</div>
      </div>
    </div>
  </div>
</div>
