<div class="main-container">
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8 login-cover d-flex flex-row align-items-center">
      <div class="cover-container">
        <h1 class="display-2">Scaffolar 3</h1>
        <p class="lead">The Angular scaffolding tool for single page websites.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 login-form d-flex flex-row align-items-center">
      <div class="form-container">
        <img src="/assets/images/logo.svg" class="logo" alt="logo" />
        <p class="lead text-left">Please enter your username and password to login.</p>

        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="input-group input-group-lg mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text" id="username">
                <fa-icon [icon]="['fa', 'user']" [fixedWidth]="true"></fa-icon>
              </div>
            </div>
            <input type="text" [(ngModel)]="credentials.username" #username="ngModel" class="form-control"
                   [class.is-invalid]="username.invalid && username.touched" [class.is-valid]="username.valid && username.touched"
                   id="username" name="username" placeholder="Username" minlength="2" required autofocus />
          </div>

          <div class="input-group input-group-lg mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text" id="password">
                <fa-icon [icon]="['fa', 'key']" [fixedWidth]="true"></fa-icon>
              </div>
            </div>
            <input type="password" [(ngModel)]="credentials.password" #password="ngModel" class="form-control"
                   [class.is-invalid]="password.invalid && password.touched" [class.is-valid]="password.valid && password.touched"
                   id="password" name="password" placeholder="Password" minlength="4" required />
          </div>

          <button type="submit" [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block mb-3">
            Sign in
          </button>
        </form>

        <a href="#" class="forgot-password">Forgot the password?</a>

        <div class="update small text-muted mt-2">
          Last update: {{ appSettings.lastUpdate | date: 'dd/MMM/yyyy' }} ({{ appSettings.version }})
        </div>
      </div>
    </div>
  </div>
</div>
