<app-tabset id="tab-manager" [justify]="'left'" #tabsetComponent>
  <div appTab id="{{tab.id}}" *ngFor="let tab of tabManager.tabs" [disabled]="tab.disabled">
    <ng-template appTabTitle>
      <div [class.is-pinned]="tab.isPinned" class="row tab-row no-gutters" [title]="tab.title | striphtml"
           [contextMenu]="tabContextMenu" [contextMenuSubject]="tab">
        <!-- Icon -->
        <div *ngIf="tab.isPinned || tab.icon?.length" [class.col-1]="!tab.isPinned" [class.col-12]="tab.isPinned">
          <fa-icon *ngIf="tab.icon?.length" [icon]="tab.icon" [fixedWidth]="true"></fa-icon>
          <fa-icon *ngIf="tab.isPinned && !tab.icon?.length" [icon]="['fas', 'thumbtack']" [fixedWidth]="true"></fa-icon>
        </div>
        <!-- Title -->
        <div *ngIf="!tab.isPinned" class="tab-title" [class.col-10]="tab.icon?.length" [class.col-11]="!tab.icon?.length">
          <span [innerHTML]="tab.title" [class.ml-3]="tab.icon?.length"></span>
        </div>
        <!-- Close button -->
        <div *ngIf="!tab.isPinned" class="tab-actions col-1">
          <span class="close-button" (click)="tabManager.close(tab, $event)">&times;</span>
        </div>
      </div>
    </ng-template>
    <!-- Tab content -->
    <ng-template appTabContent>
      <div id="content-{{tab.id}}" #componentContent></div>
    </ng-template>
  </div>
</app-tabset>


<context-menu>
  <ng-template contextMenuItem (execute)="tabManager.pin($event.item, true, $event.event)" [visible]="isPinned">
    Pin tab
  </ng-template>
  <ng-template contextMenuItem (execute)="tabManager.pin($event.item, false, $event.event)" [visible]="isUnpinned">
    Unpin tab
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="tabManager.close($event.item, $event.event)">
    Close tab
  </ng-template>
  <ng-template contextMenuItem (execute)="tabManager.closeOthers($event.item, $event.event)">
    Close other tabs
  </ng-template>
  <ng-template contextMenuItem (execute)="tabManager.closeAllToRight($event.item, $event.event)">
    Close tabs to the right
  </ng-template>
  <ng-template contextMenuItem (execute)="tabManager.reset()">
    Close all tabs
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="tabManager.move($event.item, -1, $event.event)">
    Move tab to the left
  </ng-template>
  <ng-template contextMenuItem (execute)="tabManager.move($event.item, 1, $event.event)">
    Move tab to the right
  </ng-template>
</context-menu>
