@import "../../../assets/styles/variables";

::ng-deep #tab-manager {
  $tab-manager-height: 35px;
  $tab-default-width: 170px;
  $tab-pinned-width: 25px;

  ul.nav-tabs {
    li.nav-item {
      a.nav-link {
        color: $body-color;
        line-height: $tab-manager-height;
        border-radius: 0;
        border-color: transparent;
        border-right: none;
        border-left: none;
        border-bottom-width: 2px;

        .tab-row {
          width: $tab-default-width;

          &.is-pinned {
            width: $tab-pinned-width;
            text-align: center;
          }

          .tab-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .tab-actions {
            text-align: right;
            span.close-button {
              font-weight: bold;
              color: #adb5bd;
              &:hover {
                color: inherit;
              }
            }
          }
        }

        &:hover {
          background-color: theme-color("light");
          border-bottom-color: theme-color("secondary");
        }

        &.active {
          color: theme-color("primary");
          font-weight: bold;
          border-bottom-color: theme-color("primary");
        }
      }

    }
  }

  > .tab-content > .tab-pane {
    height: calc(100vh - 54px);
    overflow-y: scroll;
  }
}
