<gridster [options]="options">
  <gridster-item [item]="{ cols: 1, rows: 1, x: 0, y: 0, name: 'ITEM_1' }"
                 class="p-4">
    <div class="item-content">
      <app-sample [resize]="resize"
                  [name]="'ITEM_1'"
                  [type]="ChartTypes.Lines"></app-sample>
    </div>
  </gridster-item>

  <gridster-item [item]="{ cols: 1, rows: 1, x: 1, y: 0, name: 'ITEM_2' }"
                 class="p-4">
    <div class="item-content">
      <app-sample [resize]="resize"
                  [name]="'ITEM_2'"
                  [type]="ChartTypes.InverseLines"></app-sample>
    </div>
  </gridster-item>

  <gridster-item [item]="{ cols: 1, rows: 1, x: 2, y: 0, name: 'ITEM_3' }"
                 class="p-4">
    <div class="item-content">
      <app-sample [resize]="resize"
                  [name]="'ITEM_3'"
                  [type]="ChartTypes.Splines"></app-sample>
    </div>
  </gridster-item>



  <gridster-item [item]="{ cols: 1, rows: 1, x: 0, y: 1, name: 'ITEM_4' }"
                 class="p-4">
    <div class="item-content">
      <app-sample [resize]="resize"
                  [name]="'ITEM_4'"
                  [type]="ChartTypes.Columns"></app-sample>
    </div>
  </gridster-item>

  <gridster-item [item]="{ cols: 1, rows: 1, x: 1, y: 1, name: 'ITEM_5' }"
                 class="p-4">
    <div class="item-content">
      <app-sample [resize]="resize"
                  [name]="'ITEM_5'"
                  [type]="ChartTypes.Bars"></app-sample>
    </div>
  </gridster-item>

  <gridster-item [item]="{ cols: 1, rows: 1, x: 2, y: 1, name: 'ITEM_6' }"
                 class="p-4">
    <div class="item-content">
      <app-sample [resize]="resize"
                  [name]="'ITEM_6'"
                  [type]="ChartTypes.Areas"></app-sample>
    </div>
  </gridster-item>



  <gridster-item [item]="{ cols: 1, rows: 1, x: 0, y: 2, name: 'ITEM_7' }"
                 class="p-4">
    <div class="item-content">
      <app-sample [resize]="resize"
                  [name]="'ITEM_7'"
                  [type]="ChartTypes.AreaSplines"></app-sample>
    </div>
  </gridster-item>

  <gridster-item [item]="{ cols: 1, rows: 1, x: 1, y: 2, name: 'ITEM_8' }"
                 class="p-4">
    <div class="item-content">
      <app-sample [resize]="resize"
                  [name]="'ITEM_8'"
                  [type]="ChartTypes.HalfDonut"></app-sample>
    </div>
  </gridster-item>

  <gridster-item [item]="{ cols: 1, rows: 1, x: 2, y: 2, name: 'ITEM_9' }"
                 class="p-4">
    <div class="item-content">
      <app-sample [resize]="resize"
                  [name]="'ITEM_9'"
                  [type]="ChartTypes.Donut"></app-sample>
    </div>
  </gridster-item>

  <gridster-item [item]="{ cols: 1, rows: 1, x: 0, y: 3, name: 'ITEM_10' }"
                 class="p-4">
    <div class="item-content">
      <app-sample [resize]="resize"
                  [name]="'ITEM_10'"
                  [type]="ChartTypes.Pie"></app-sample>
    </div>
  </gridster-item>



  <gridster-item [item]=" { cols: 2, rows: 2, x: 1, y: 3, name: 'ITEM_11' }"
                 class="p-4">
    <div class="item-content">
      <app-table [resize]="resize"
                 [name]="'ITEM_11'"></app-table>
    </div>
  </gridster-item>
</gridster>
