<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="dateOfBirth">Date of birth</label>
      <div class="input-group">
        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" (click)="dp.toggle()" type="button">Open</button>
        </div>
      </div>
    </div>
  </form>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, sapiente. Tempora sapiente temporibus iure, vero est
    commodi, dolore molestias reiciendis similique repellendus cum voluptatum facilis voluptas quas incidunt mollitia
    atque quod ipsum, provident corrupti nostrum inventore amet eaque? Molestias, quam rem reprehenderit fugiat
    accusamus quibusdam qui recusandae ratione. Sequi possimus itaque harum vel maiores voluptatibus, totam porro
    ducimus explicabo ab praesentium rem consequatur, nobis necessitatibus adipisci? Ipsa eos aliquam at corporis
    asperiores, iste mollitia repellat veniam aliquid nemo ullam amet numquam eaque ratione, ipsam magnam non aperiam
    odit voluptates? Beatae, dolores impedit! Similique quae sint ipsum a tempore iusto, architecto eos quasi harum
    dolore perspiciatis sunt, voluptatem consequatur? Ratione eligendi a aut itaque quisquam excepturi accusantium ad,
    deserunt delectus sed explicabo. Atque cum quae velit labore doloribus. Debitis ratione consectetur eligendi ea ab
    eum maxime excepturi, sapiente repellendus ipsum quam repellat molestiae ipsa, facere tempora facilis quae ex!
    Temporibus esse aliquam doloremque magnam nobis molestiae deleniti? Necessitatibus totam qui saepe ipsa quo in?
    Perspiciatis dolorem quisquam nemo itaque illo assumenda dicta explicabo doloribus. Quaerat, magni labore deserunt
    sequi dolorem, accusantium quasi quae in odit eveniet veritatis nesciunt unde totam delectus consequatur illum
    rerum sapiente autem doloremque ea sunt? Qui, sint.</p>
  <p>Quibusdam aut nulla, fuga expedita officia vitae labore nobis porro eum. Officia, alias dolore ipsum quidem
    reprehenderit eligendi illum, ipsa sequi nam, at ex? Eligendi aut inventore quidem minima sed! Cupiditate ex
    obcaecati tenetur veniam inventore soluta, autem doloremque laudantium eveniet. Numquam, perspiciatis maiores
    repudiandae aliquid voluptatem rerum aspernatur illum odio natus iure quam ullam assumenda sapiente id non error,
    officia ducimus repellat eius. Sit laborum voluptas voluptatibus est facere a numquam velit nobis, saepe ex? Amet
    deserunt aliquam numquam reprehenderit? Quidem nam in minima culpa, architecto itaque, odit est corrupti
    praesentium maxime, obcaecati ab aliquam consequuntur rem ullam sit repudiandae eum cupiditate non! Magnam animi
    vel iste porro iusto eligendi autem, fugit repudiandae quas ratione? At veritatis corrupti quas. Deserunt minima
    earum, molestiae maxime sed quis eum aperiam provident velit consequuntur, laudantium dolor quia excepturi esse cum
    doloremque accusantium. Nam sed nostrum cupiditate repudiandae eum deserunt quo harum a debitis facilis cum magnam
    recusandae perspiciatis consequuntur in et suscipit iusto, optio perferendis corrupti animi amet molestiae? Odit
    facere ipsa ex repellendus quos officia nihil reiciendis dicta totam nam, omnis veniam. Consectetur nostrum impedit
    ullam necessitatibus! Ducimus soluta cupiditate, rerum exercitationem culpa aperiam earum non quae. Soluta sed in
    ab?</p>
  <p>Vero praesentium sint exercitationem, obcaecati rerum illum modi placeat odio delectus perspiciatis est fuga
    fugiat id omnis! A praesentium suscipit maiores numquam explicabo. Ipsam aspernatur molestias doloremque vitae,
    facilis veniam quaerat facere cum, eius incidunt consequuntur ut neque. Tenetur magnam amet accusamus doloribus
    veniam omnis quae quis vitae, alias id placeat vel sint officia, porro recusandae eum minus quod pariatur
    perspiciatis ab, rerum ipsam consequatur. Praesentium quae sed, delectus at esse fuga recusandae eligendi deleniti
    nobis obcaecati nemo consequatur, suscipit harum. Odit ut repellat eligendi eos sunt culpa possimus in dolore aut
    maxime, iure esse, debitis omnis, architecto sed fugiat impedit velit mollitia doloremque officia quisquam? Natus,
    aliquam quasi exercitationem aperiam dicta beatae? Quisquam fugiat modi hic esse illo reiciendis ducimus soluta
    molestias harum fuga quas voluptatum corporis eius possimus cupiditate dolorem delectus consequuntur nihil ipsum
    alias temporibus, accusantium reprehenderit animi! Enim libero nihil repudiandae incidunt dignissimos. Animi in
    deserunt porro, perferendis possimus cumque odit aliquam voluptates assumenda officia. Tenetur tempore labore
    exercitationem sit incidunt, veritatis, quos quibusdam, est ipsum reiciendis architecto. Iste maiores odio quia
    reprehenderit doloremque fuga perferendis officia unde quisquam necessitatibus ad voluptatibus rem laudantium et
    modi autem ipsum ratione eius molestiae excepturi libero quo, magnam non.</p>
  <p>Enim dolore ut, illum nisi optio ipsa sed perspiciatis voluptatum adipisci voluptas! Voluptates deleniti veniam
    quasi, eos totam accusamus magni enim ipsum suscipit, dolorem, molestias ab nobis. Velit, alias cumque quo
    voluptatem excepturi inventore fugiat reprehenderit ipsum. Beatae dolor facere maxime, consequuntur minus pariatur
    et. Saepe error eligendi vel assumenda, aliquam corporis id. Magnam, quisquam! Molestiae accusamus itaque culpa
    debitis ab, corporis quas architecto alias doloremque dolorum vel officiis labore. Veniam temporibus est corrupti
    nemo fugiat ea laudantium ipsa, et praesentium neque, quis nihil nesciunt itaque at quidem laborum dicta eaque
    perferendis commodi assumenda adipisci numquam? Animi voluptatum assumenda explicabo autem a accusamus voluptatibus
    veniam, facilis possimus totam ducimus nam? Quasi exercitationem, error suscipit dolor animi aspernatur numquam
    cumque nam amet vero expedita in. Dicta consectetur nobis aspernatur debitis ad quod, voluptatem consequuntur dolor
    iste odit tenetur illo enim? Corrupti pariatur beatae, quibusdam reiciendis fuga delectus nemo officiis ipsa minus
    consequuntur repellendus ratione quae ducimus! Perspiciatis qui ut consequuntur minus quae. Suscipit recusandae,
    dignissimos impedit atque illo officiis voluptate. Laborum necessitatibus neque ipsam veniam consequuntur iste
    doloremque natus ad recusandae voluptatum ratione tempora doloribus aspernatur ex sapiente ut, quos quibusdam
    officia, autem totam consectetur optio sit voluptate. Placeat, earum fugit!</p>
  <p>Voluptatem odit officiis nisi ex ratione eligendi sit autem adipisci velit blanditiis aperiam commodi fuga odio
    iste libero, quis officia dignissimos neque non! Quidem eum laborum obcaecati. Eum delectus, illum cum aut
    molestiae consequatur autem repellendus labore itaque. Dolorem sapiente ab maiores repellat cupiditate, sit natus
    facilis sed. Est provident minima vitae maiores cupiditate at, non esse numquam nisi laudantium distinctio! Rerum
    atque hic sapiente nihil temporibus dicta aspernatur eligendi, tempore totam aut ducimus? Quis delectus, quo
    nostrum nulla nihil quod laboriosam placeat similique asperiores beatae sunt iusto quam repellendus numquam
    voluptatibus facere fugiat ipsam quaerat? Ex molestias at hic dignissimos voluptatum, dolorem quae soluta, nam
    placeat repellendus magni ut voluptatem inventore nobis illum a tempora dicta deleniti debitis totam commodi
    officia nihil. Incidunt similique aspernatur reiciendis provident suscipit eius adipisci esse expedita architecto
    corrupti laudantium veritatis exercitationem laboriosam hic recusandae, sint nam repudiandae omnis, quasi
    temporibus vel soluta autem delectus? Voluptate quam soluta excepturi omnis nobis velit quaerat ducimus quia iste
    ipsam accusantium quidem voluptatibus eligendi sed a fugiat sunt dolore, eveniet rerum neque. Maxime temporibus hic
    eligendi aspernatur! Quibusdam nulla distinctio deleniti sunt placeat! Ut iure laudantium porro consequatur qui
    ullam, dolore eaque nulla ipsa iste delectus sequi?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
</div>
