/* You can add global styles to this file, and also import other style files */

// Override theme colors
$theme-colors: (
  "primary":    #5c3aa7, // #007bff
  "secondary":  #6c757d,
  "success":    #28a745,
  "info":       #17a2b8,
  "warning":    #ffc107,
  "danger":     #dc3545,
  "light":      #f8f9fa,
  "dark":       #343a40
);

// Override body colors
$body-bg:    #fff;
$body-color: #212529;

/* Importing Bootstrap styles */
@import "node_modules/bootstrap/scss/bootstrap";
