.bg-color-0 {
  background-color: #f7464a !important;
}
.bg-color-1 {
  background-color: #46bfbd !important;
}
.bg-color-2 {
  background-color: #fdb45c !important;
}
.bg-color-3 {
  background-color: #dc6900 !important;
}
.bg-color-4 {
  background-color: #4d5360 !important;
}
.bg-color-5 {
  background-color: #2e7d32 !important;
}
.bg-color-6 {
  background-color: #5e35b1 !important;
}
.bg-color-7 {
  background-color: #ff4081 !important;
}
.bg-color-8 {
  background-color: #2b908f !important;
}
.bg-color-9 {
  background-color: #dcdcdc !important;
}
.bg-color-10 {
  background-color: #0091ea !important;
}
.bg-color-11 {
  background-color: #949fb1 !important;
}
.bg-color-12 {
  background-color: #97bbcd !important;
}
