gridster {
  background-color: $gray-200 !important;

  gridster-item {
    border-radius: $border-radius;

    .header {
      h3 {
        margin-bottom: 5px;
      }

      h5 {
        color: $gray-500;
        font-weight: normal;
        font-size: 95%;
        margin-bottom: 15px;
      }

      .dropdown-toggle::after {
        display: none;
      }
    }
  }
}
